@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@include meyer-reset;

@mixin form-reset {
  input,
  label,
  select,
  button,
  textarea {
  	display:inline-block;
  	margin:0;
  	padding:0;
  	border:0;
  	background:none;
  	font-family:inherit;
  	font-size:inherit;
  	line-height:inherit;
  	white-space:normal;
  	vertical-align:middle;
  }

  select, input {
    -webkit-appearance: none;
  }

  input:focus,
  button:focus,
  select:focus {
    outline: 0;
  }

  input:focus,
  select:focus {
  	outline:0;
  }

  input,
  textarea {
  	-webkit-box-sizing:content-box;
  	-moz-box-sizing:content-box;
  	box-sizing:content-box;
  }

  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	-webkit-box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	box-sizing:border-box;
  }

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week]{
  }

  input[type=checkbox],
  input[type=radio] {
  	width:13px;
  	height:13px;
  }

  input[type=file] {

  }

  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  ::-webkit-search-decoration {
  	display:none;
  }

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
  	width:auto;
  	overflow:visible;
  }

  ::-webkit-file-upload-button {
  	padding:0;
  	border:0;
  	background:none;
  }

  textarea  {
  	overflow:auto;
  	vertical-align:top;
  }

  select {

  }

  select[multiple] {
  	vertical-align:top;
  }
}
@include form-reset;

@mixin button-reset {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    text-align: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

$white: rgb(255,255,255);
// $black: rgb(160,160,160);
$black: rgb(0,0,0);
$black-light: rgb(113,117,113);
$black-lighter: rgb(192,194,192);
$black-about: rgb(92,97,92);
$grey: rgb(126,127,115);
$grey-light: rgb(192,194,192);
$grey-lighter: rgb(227,227,225);
$coral: rgb(255,89,90);
$blue: rgb(25,86,246);
$font-copy: 'Sofia Pro', Sans-Serif;
$font-header: 'Futwora Pro', Sans-Serif;
$font-mono: 'Space Mono', monospace;
$margin: calc(20px + 2.4vw);
$margin-02: calc(10px + 1.2vw);
$margin-03: calc(4px + .4vw);
$works-margin: calc(16px + 2vw);

* {
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	&:after, &:before {
		font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
}

html {
  &.is-flickity-fullscreen {
    main {
      z-index: 100;
    }
  }
}

//Safari font scale fix
body, html {
  min-width: 100%;
}

body {
	font-family: $font-copy;
  font-size: 16px;
  font-size: calc(11px + .46vw);
  line-height: 1.2;
  font-weight: normal;
  color: $black;
  background: $white;
  will-change: background;
  backface-visibility: hidden;
  transition: background 660ms cubic-bezier(.165, .84, .44, 1);

  a {
    text-decoration: none;
    color: $black;

    &:hover {
      color: $blue;

      .st1 {
        fill: $blue;
      }
    }
  }

  &[data-background=home] {
    background: $white;
    color: $black;

    a {
      color: $black;

      &:hover {
        color: $blue;

        .st1 {
          fill: $blue;
        }
      }
    }
  }

  &[data-background=about] {
    background: $black;
    color: $white;

    a {
      color: $white;

      &:hover {
        color: $black;

        .st1 {
          fill: $black;
        }
      }
    }

    .st1 {
      fill: $white;
    }

    .intro {

      .st2 {
        fill: $white;
      }
    }
  }

  &.noScroll {
    overflow: hidden;
  }
}

.site-content {

  &::before {
    content: '';
    display: block;
  }

  &::after {
    content: '';
    display: block;
  }
}

#site-content-wrap {
  visibility: hidden;
}

img {
	display: block;
	width: 100%;
  height: auto;
}

p, ul, ol, h1, h2, h3, h4, h5 {
  padding: $margin $margin;
}

h1, h2, h3, h4, h5, strong {
  font-weight: bold;
}

em, i {
  font-style: italic;
}

h1 {
  font-size: 3.2em;
  font-family: $font-header;
  letter-spacing: -.06em;
  line-height: 1.1;
  padding-top: 0;
}

h2 {
  font-size: 2.2em;
  padding-top: 0px;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {

}

a {
  text-decoration: none;
  color: $grey;
}

input {
	&:focus {
		border: 1px solid $grey;
		outline: 0;
	}
}

button {
  @include button-reset;
}

small {
  font-size: .8em;
  font-family: $font-mono;
  letter-spacing: .03em;
}

.spin {
  display: block;

  svg {
    transform: rotate(0deg);
    backface-visibility: hidden;
    transition: 220ms color cubic-bezier(.165, .84, .44, 1);
  }

  &:hover svg {
    transform: rotate(90deg);
  }
}

.st0 {
  fill: $white;
}

.st1 {
  fill: $black;
}

.st2 {
  fill: $black;
}

.set-back {
  color: $grey-light;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;

  &.show {
    pointer-events: all;
    opacity: 1;
  }
}

.promotion {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  backdrop-filter: blur(4px);
  opacity: 0;
  pointer-events: none;
  transition: opacity 800ms ease;
  background: rgba(0,0,0,.2);

  &.show {
    pointer-events: all;
    opacity: 1;
  }

  .panel {
    background: $white;
    border-radius: 16px;
    width: 100%;
    max-width: 620px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    box-shadow: 3px -3px 8px rgba(0,0,0,.05);

    .close {
      position: absolute;
      top: 0px;
      right: 0px;
    }
  }
}

.sticky{
  &::before, &::after {
    content: '';
    display: table;
  }
}

.intro {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  pointer-events: none;
  transition: opacity 800ms ease;
  opacity: 0;

  svg {
    width: 50vw;
    max-width: 280px;
    height: auto;
  }

  &.show {
    opacity: 1;
  }
}

header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  opacity: 0;
  transform: translate3d(0, -100%, 0);
  transition: transform 880ms cubic-bezier(.165, .84, .44, 1), opacity 880ms cubic-bezier(.165, .84, .44, 1);

  &.show {
    opacity: 1;
    transform: none;
  }

  .logo {
    flex: 1;
    position: absolute;

    svg {
      width: calc(48px + 2vw);
      height: auto;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .menu-main {
    flex: 1;
    text-align: right;

    ul {
      li {
        display: inline-block;
        padding-left: $margin-02;
        line-height: 1;

        .menu-toggle {
          line-height: 1;
        }
      }
    }
  }
}

main {
  position: relative;
  z-index: 9;
  padding-top: 14vh;
}

.flickity-page-dots {
  width: auto;
  left: 0;
  padding: $margin;
  padding-top: $margin-02;
  padding-bottom: 0px;
  transform: translate3d(0,0,0);
  bottom: 0;
  position: relative;
  text-align: left;

  .dot {
    width: 8px;
    height: 8px;
    margin: 0;
    margin-right: 12px;
    background: $grey-light;
    opacity: 1;

    &.is-selected {
      background: $black;
    }
  }
}

$work-width: calc(180px + 4vw);
$work-height: calc(#{$work-width} / 3 * 2);

#site-content-wrap {
  &.home {
    width: calc(#{$work-width} * 9 + #{$margin-03} * 18 + #{$works-margin} * 2 );
  }
}

.home {

  h1 {
    padding-top: 0px;
    padding-right: 20vw;
    padding-bottom: $margin;
    display: block;
    position: sticky;
    left: 0;
    width: 100vw;
  }

  .works {
    display: flex;
    flex-wrap: nowrap;
    padding: $margin $works-margin;

    .term {

      .title {
        overflow: hidden;
        white-space: nowrap;
        position: sticky;
        top: 0px;
        backface-visibility: hidden;
        will-change: opacity, transform;
        z-index: 999;
        background: white;
        opacity: 0;
        transform: translate3d(0, -100%, 0);
        transition: transform 660ms cubic-bezier(.165, .84, .44, 1), opacity 660ms cubic-bezier(.165, .84, .44, 1);

        &.show {
          opacity: 1;
          transform: none;
        }

        p {
          padding: $margin-03;
        }
      }

      .work {
        padding: $margin-03;
        box-sizing: content-box;

        img {
          transform: translate3d(0,0,0);
          width: $work-width;
          height: $work-height;
          background: #f0f0f0;
          object-fit: cover;
        }

        .description {
          display: flex;
          flex-wrap: nowrap;
          width: 100%;
          display: none;

          .left, .right {
            overflow: hidden;
          }

          p, h5 {
            padding: $margin-02 0;
            max-width: 100%;
            display: block;
          }

          .right {
            flex-shrink: 0;
            flex: auto;
          }

          .left {
            flex: auto;
          }

          .category {
            text-align: right;

            span {
              padding-left: 1vw;
              display: inline-block;
              font-family: $font-mono;
              font-size: .6em;
              letter-spacing: .1em;
            }
          }
        }

        a {
          display: block;
        }
      }
    }
  }
}

.set-back {
  color: $grey-light;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  padding: 0 $margin-02;

  .list-post {
    padding: 0 $margin-02;
    padding-bottom: $margin-02;

    a {
      display: block;

      &:hover {

        figure {
          .category {
            opacity: 1;
          }
        }
        .title {
          color: $black;
        }
      }

      figure {
        position: relative;
        margin: $margin-03 0;
        background: $black;

        .category {
          z-index: 10;
          opacity: 0;
          background: $black;
          position: absolute;
          top: 0px;
          left: 0px;
          height: 100%;
          width: 100%;
          backface-visibility: hidden;
          transition: opacity 800ms cubic-bezier(.165, .84, .44, 1);
          color: $white;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        img {
          z-index: 0;
        }
      }

      .terms {
        display: block;
        margin-top: $margin-03;
      }

      h5 {
        padding: 0;
        padding-bottom: $margin-03;
        line-height: 1;
      }
    }
  }
}

.single {

  main {

    .container {
      display: flex;
      flex-wrap: wrap;

      .flky {
        width: 100vw;
        padding-bottom: $margin;

        .feature {
          width: 70%;
          max-width: calc(520px + 12vw);
          padding-left: $margin;
          box-sizing: content-box;

          p {
            padding-left: 0px;
            padding-right: 0px;
          }

          &:last-child {
            padding-right: $margin;
          }
        }
      }

      .excerpt {
        width: 80vw;
      }

      .content {
        width: 50vw;
      }

      img {
        width: 100%;
      }
    }
  }
}

.about {

  .wordz {
    border-bottom: 3px solid $white;
  }

  h1 {
    padding-right: 20vw;
  }

  .text-content {
    padding-right: 50vw;

    p {
      padding-top: 0px;
      padding-bottom: $margin-02;
    }
  }
}

footer {
  width: 100vw;
  padding-top: 14vh;

  .flex {
    display: flex;
    flex-wrap: wrap;

    h4, ul, p {
      padding-bottom: 0px;
    }

    .column {
      flex: 1;
    }
  }

  .copy {
    display: flex;
    flex-wrap: wrap;

    .column {
      flex: 1;
    }

    .right {
      text-align: right;
    }
  }

  .links {
    padding-top: $margin-02;
  }
}

.menu-modal {
  opacity: 0;
  z-index: 1000;
  pointer-events: none;
  background: $black;
  width: 100vw;
  position: sticky;
  left: 0;
  padding: 14vh $margin;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  transition: opacity 1200ms cubic-bezier(.165, .84, .44, 1);
  backface-visibility: hidden;
  color: $white;

  .close {
    position: fixed;
    top: 0px;
    right: 0px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;

    .column {
      flex: 1;
    }
  }

  .links {
    font-size: 1.8em;
    font-weight: 300;

    a {
      display: block;
      color: white;
      backface-visibility: hidden;
    }
  }

  ul {
    padding-top: 0;
    padding-bottom: $margin-02;

    ul {
      padding-top: $margin-02;
    }
  }

  a {
    color: $white;
  }

  &.show {
    opacity: 1;
    pointer-events: all;
  }
}

.lazyload {
  // filter: blur(6px);
  // transition: filter 800ms cubic-bezier(.165, .84, .44, 1);
}

.lazyloaded {
  // filter: blur(0px);
  // transition: filter 800ms cubic-bezier(.165, .84, .44, 1);
}

@media only screen and (max-width: 720px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 620px) {
  .about {

    main {
      .content {

        .text-intro {
          width: 100vw;
        }

        .text-content {
          width: 100vw;
        }
      }
    }
  }

  .footer {

    .flexer {

      .flex {
        width: 50%;
        flex: auto;

        &.logo {
          width: 100%;
          flex: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 420px) {
  .list {
    grid-template-columns: 1fr;
  }
}

@media only screen and (orientation: portrait) {

  #site-content-wrap {
    &.home {
      width: calc(#{$work-width} * 6 + #{$margin-03} * 14);
    }
  }

  .home {

    .works {
      flex-direction: column;

      .term {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}
