@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
  }

  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol, ul {
    list-style: none;
  }

  blockquote, q {
    quotes: none;
  }

  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}
@include meyer-reset;

@mixin form-reset {
  input,
  label,
  select,
  button,
  textarea {
  	display:inline-block;
  	margin:0;
  	padding:0;
  	border:0;
  	background:none;
  	font-family:inherit;
  	font-size:inherit;
  	line-height:inherit;
  	white-space:normal;
  	vertical-align:middle;
  }

  select, input {
    -webkit-appearance: none;
  }

  input:focus,
  button:focus,
  select:focus {
    outline: 0;
  }

  input:focus,
  select:focus {
  	outline:0;
  }

  input,
  textarea {
  	-webkit-box-sizing:content-box;
  	-moz-box-sizing:content-box;
  	box-sizing:content-box;
  }

  button,
  input[type=reset],
  input[type=button],
  input[type=submit],
  input[type=checkbox],
  input[type=radio],
  select {
  	-webkit-box-sizing:border-box;
  	-moz-box-sizing:border-box;
  	box-sizing:border-box;
  }

  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=email],
  input[type=month],
  input[type=number],
  input[type=password],
  input[type=range],
  input[type=search],
  input[type=tel],
  input[type=text],
  input[type=time],
  input[type=url],
  input[type=week]{
  }

  input[type=checkbox],
  input[type=radio] {
  	width:13px;
  	height:13px;
  }

  input[type=file] {

  }

  input[type=search] {
  	-webkit-appearance:textfield;
  	-webkit-box-sizing:content-box;
  }

  ::-webkit-search-decoration {
  	display:none;
  }

  button,
  input[type="reset"],
  input[type="button"],
  input[type="submit"] {
  	width:auto;
  	overflow:visible;
  }

  ::-webkit-file-upload-button {
  	padding:0;
  	border:0;
  	background:none;
  }

  textarea  {
  	overflow:auto;
  	vertical-align:top;
  }

  select {

  }

  select[multiple] {
  	vertical-align:top;
  }
}
@include form-reset;

@mixin button-reset {
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: none;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    text-align: inherit;
    cursor: pointer;

    &:focus {
      outline: none;
    }
    &:-moz-focus-inner {
        padding: 0;
        border: 0;
    }
}

$white: rgb(255,255,255);
// $black: rgb(160,160,160);
$black: #181818;
$black-light: rgb(113,117,113);
$black-lighter: rgb(192,194,192);
$black-about: rgb(92,97,92);
$grey: rgb(126,127,115);
$grey-light: rgb(192,194,192);
$grey-lighter: rgb(227,227,225);
$coral: rgb(255,89,90);
$blue: rgb(25,86,246);
$font-copy: 'Sofia Pro', Sans-Serif;
$font-header: 'Futwora Pro', Sans-Serif;
$font-mono: 'Space Mono', monospace;
$margin-s: calc(.2vw + .8vw);
$margin: calc(.4vw + .8vw);
$margin-01: calc(.6vw + .8vw);
$margin-02: calc(1vw + .8vw);
$margin-03: calc(1.2vw + .8vw);
$margin-04: calc(1.4vw + .8vw);
$margin-05: calc(1.6vw + .8vw);
$margin-06: calc(1.8vw + .8vw);
$margin-07: calc(2vw + .8vw);
$margin-08: calc(2.2vw + .8vw);

* {
	font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
	box-sizing: border-box;
	text-rendering: optimizeLegibility;

	&:after, &:before {
		font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
		box-sizing: border-box;
		text-rendering: optimizeLegibility;
	}
}

html {
  &.is-flickity-fullscreen {
    main {
      z-index: 100;
    }
  }
}

body, html {
  min-width: 100%;
}

// @import url('https://rsms.me/inter/inter-ui.css');

body {
	font-family: $font-mono;
  // font-family: "Sailec";
  // font-family: "Moderat Regular";
  font-family: 'Inter UI', sans-serif;
  font-size: 16px;
  font-size: calc(8px + 1vw);
  letter-spacing: -0.05em;
  font-weight: 400;
  line-height: 1.2;
  font-weight: regular;
  color: $black;
  background: $white;
  background: #F8F4EC;
  transition: background 600ms ease;

  a {
    text-decoration: none;
    color: #787677;
    cursor: url("../../img/pointer.png") 5 0, pointer;

    &:hover {
      font-style: italic;
      // line-height: 1;
    }
  }

  &[data-background=single] {
    background: #FAFAFA;
  }

  &[data-background=home] {
    background: #F8F4EC;
  }

  &.noScroll {
    overflow: hidden;
  }
}

.site-content {
  &::before {
    content: '';
    display: block;
  }

  &::after {
    content: '';
    display: block;
  }
}

#site-content-wrap {

}

img {
	display: block;
	width: 100%;
  height: auto;
}

p, ul, ol, h1, h2, h3, h4, h5 {
  padding-bottom: 4vw;
}

h1, h2, h3, h4, h5, strong {
  // font-weight: bold;
}

strong {
  color: #787677;
}

em, i {
  font-style: italic;
}

h1, .page-content {
  font-size: 4.4vw;
  line-height: 1.1;
  letter-spacing: -.05em;
}

h2 {
  font-size: 2.2em;
  padding-top: 0px;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.4em;
}

h5 {

}

a {
  text-decoration: none;
  color: $grey;
}

input {
	&:focus {
		border: 1px solid $grey;
		outline: 0;
	}
}

button {
  @include button-reset;
}

small {
  letter-spacing: -0.002em;
  line-height: 1.2;
  font-size: 0.875rem;
  display: block;
}

.st0 {
  fill: $white;
}

.st1 {
  fill: $black;
}

.st2 {
  fill: $black;
}

.loader {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
  opacity: 0;
  pointer-events: none;
  transition: opacity 400ms ease;

  &.show {
    pointer-events: all;
    opacity: 1;
  }
}

.sticky{
  &::before, &::after {
    content: '';
    display: table;
  }
}

.flickity-page-dots {
  width: auto;
  left: 0;
  padding: 0 4vw;
  padding-top: $margin-s;
  transform: translate3d(0,0,0);
  bottom: 0;
  position: relative;
  text-align: left;

  .dot {
    width: 8px;
    height: 8px;
    margin: 0;
    margin-right: 12px;
    background: $grey-light;
    opacity: 1;

    &.is-selected {
      background: $black;
    }
  }
}

.setback {
  color: #787677;
}

main {

}

.back {
  a {
    color: $black;
  }

  div {
    &:nth-child(1) {
      width: 10%;
    }
    &:nth-child(2) {
      width: 30%;

      h1 {
        hyphens: auto;
        overflow-wrap: break-word;
      }
    }
    &:nth-child(3) {
      width: 60%;
    }
  }
}

.flex {
  display: flex;

  div {
    padding-right: 4vw;
    flex:initial;
  }
}

.single-work {

  header {
    display: none;
  }

  figure {
    padding-bottom: 4vw;
  }

  .excerpt {
    p {
      padding-top: 0;
      padding-bottom: 0;
    }

    h1 {
      padding-bottom: 2vw;
    }
  }

  .video-wrap {
  	position: relative;
  	padding-bottom: 56.25%; /* 16:9 */
  	padding-top: 25px;
  	height: 0;

    iframe {
    	position: absolute;
    	top: 0;
    	left: 0;
    	width: 100%;
    	height: 100%;
    }
  }

  .content {
    font-size: 4.4vw;
    line-height: 1.1;
    letter-spacing: -.05em;
  }

  .pagination {
    padding-top: 4vw;
    width: 100%;

    a {
      color: $black;
    }

    div {
      flex: 1;

      &:nth-child(2) {
        text-align: right;
        padding-right: 0;
      }
    }
  }
}

.home {
  header {
    // display: none;
  }

  main {
    padding: 0;
  }
}

.panel {
  padding: 4vw;

  &.nosides {
    padding: 0px;
  }

  &.nobottom{
    padding-bottom: 0px;
  }
}

[data-aos="fadeUp"] {
  transform: translate3d(0, 20px, 0);
  transition-property: transform;
}

[data-aos="fadeUp"].aos-animate {
  transform: translate3d(0, 0, 0);
}

.threewrap {
  width: 100vw;
  height: 100vh;
  background: $black;
  color: #F8F4EC;
  position: relative;
  cursor: url("../../img/icon_open.svg?v=2") 20 30,auto;

  .background {
    background: $black;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 10;

    .text {
      position: relative;
      z-index: 10;
    }
  }

  .navigation {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    width: 100%;

    .setback {
      color: #787677;
    }

    nav {
      position: sticky;
      top: 0;
      width: 100%;

      a {
        color: #F8F4EC;
      }
    }
  }

  .threeframe {
    overflow: hidden;
    background: #F8F4EC;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    .threejs {
      width: 100%;
      height: 100%;
      filter: grayscale(1) brightness(.3);
      mix-blend-mode: multiply;
    }
  }
}

header {
  padding: 4vw;
  padding-bottom: 0px;
  z-index: 10;
  position: sticky;
  top: 0;
  overflow: hidden;

  a {
    color: $black;
  }

  nav {
    display: flex;
    width: 100%;

    .cell {
      margin-right: 10vw;

      &:last-child {
        margin-left: auto;
        margin-right: 0;
      }
    }

    ul {

      li {
        display: inline-block;
        margin-right: $margin-s;
      }
    }
  }
}

footer {

}

.name {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 10;
  line-height: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 660ms cubic-bezier(.165, .84, .44, 1);

  &.show {
    opacity: 1;
  }
}

.news-archive {

  .news-archive-list {
    padding-bottom: 4vw;

    p {
      padding-bottom: 2vw;
    }

    h1 {
      padding-bottom: 0;
    }

    a {
      display: block;
      width: 100%;
      color: $black;
    }
  }
}

.work-archive {
  display: flex;
  flex-wrap: wrap;

  .flex {
    width: 100%;

    div {

      &:nth-child(1) {
        width: 40%;
        padding-right: 4%;
      }

      &:nth-child(2) {
        width: 60%;
        padding-right: 0;
      }
    }
  }

  .work-archive-grid {
    width: 50%;

    h1 {
      padding-bottom: 0px;
    }

    a {
      display: block;
      width: 100%;
      color: $black;
      margin-bottom: 4vh;

      &:hover {
        figure {
          .main-img {
            opacity: 0;
          }
          .hover-img {
            opacity: 1;
          }
        }
      }

      figure {
        margin: 0px;
        position: relative;

        .main-img {
          opacity: 1;
        }

        .hover-img {
          opacity: 0;
        }

        .hover {
          position: absolute;
          top: 0px;
          left: 0px;
          z-index: 10;
          width: 100%;
          margin: 0;
        }
      }
    }

    &:nth-child(even) {
      padding-left: 2.08%;

      figure {
        margin-right: 0px;
      }
    }

    &:nth-child(odd) {
      padding-right: 2.08%;

      figure {
        margin-left: 0px;
      }
    }
  }
}

@media only screen and (max-width: 1020px) {

}

@media only screen and (max-width: 720px) {

}

@media only screen and (max-width: 620px) {

}

@media only screen and (max-width: 420px) {

}

@media only screen and (orientation: portrait) {

}

::selection {
	background: $black;
	color: $white;
	text-shadow: none;
}
